@using JournalProject.Models

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.title - @Globals.ProjectTitle</title>

    <meta name="robots" content="noindex">

    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="~/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="~/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="~/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/hamburgers.min.css">
    <link rel="stylesheet" href="~/assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
</head>

<body class="@ViewBag.bodyClass">
    <!-- Preloader -->
    <div id="preloader">
        <div class="cssload-preloader cssload-loading">
            <span class="cssload-slice"></span>
            <span class="cssload-slice"></span>
            <span class="cssload-slice"></span>
            <span class="cssload-slice"></span>
            <span class="cssload-slice"></span>
            <span class="cssload-slice"></span>
        </div>
    </div>

    <!-- Header -->
    <header id="header" class="@ViewBag.headerClass">
        <!-- Menu -->
        <div class="menu">
            <button id="menu-trigger" class="hamburger hamburger--stand" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

            <!-- Menu Content -->
            <div id="main-menu">
                <div class="mm-content">

                    <!-- Main Menu Content Wrapper -->
                    <div class="mm-content-wrapper">

                        <!-- Main Menu Links List -->
                        <div class="mm-list-wrapper">
                            <ul class="mm-list">

                                <!-- Main Menu List Item -->
                                <li class="mm-list-item active">
                                    <a href="#" class="mm-list-link has-submenu" data-submenu="#journal">
                                        Journal<i class="far fa-angle-right"></i>
                                    </a>
                                </li>

                                <!-- Main Menu List Item -->
                                <li class="mm-list-item">
                                    <a href="#" class="mm-list-link has-submenu" data-submenu="#categories">
                                        Categories<i class="far fa-angle-right"></i>
                                    </a>
                                </li>

                                <!-- Main Menu List Item -->
                                <li class="mm-list-item">
                                    <a href="#" class="mm-list-link has-submenu" data-submenu="#media">
                                        Media<i class="far fa-angle-right"></i>
                                    </a>
                                </li>

                                <!-- Main Menu List Item -->
                                <li class="mm-list-item">
                                    <a href="#featured" class="mm-list-link" id="featured-link">
                                        Featured
                                    </a>
                                </li>

                                <!-- Main Menu List Item -->
                                <li class="mm-list-item">
                                    <a href="#" class="mm-list-link">
                                        About Us
                                    </a>
                                </li>

                                <!-- Main Menu List Item -->
                                <li class="mm-list-item">
                                    <a href="auth.html#login" class="mm-list-link">
                                        Log In<i class="fal fa-sign-in-alt"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <!-- Main Menu Submenu -->
                        <div class="mm-submenu">

                            <!-- Submenu Item -->
                            <div id="journal" class="mm-submenu-item active">

                                <!-- Submenu Title -->
                                <h4 class="submenu-title">Recent issues</h4>

                                <!-- Submenu List with Images -->
                                <ul class="submenu-image-list">

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/journal-1.jpg" alt="Journal"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        All Out Black
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                            <span class="date">May 2019</span>
                                        </a>
                                    </li>

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/journal-2.jpg" alt="Journal"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        Fat Pie
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                            <span class="date">April 2019</span>
                                        </a>
                                    </li>

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/journal-3.jpg" alt="Journal"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        Workspace
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                            <span class="date">March 2019</span>
                                        </a>
                                    </li>

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/journal-4.jpg" alt="Journal"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        Art of Design
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                            <span class="date">February 2019</span>
                                        </a>
                                    </li>

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/journal-5.jpg" alt="Journal"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        Clubbing
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                            <span class="date">January 2019</span>
                                        </a>
                                    </li>

                                </ul>

                                <!-- All Issues Link Wrapper -->
                                <div class="all-issues-link-wrapper">
                                    <!-- All Issues Link -->
                                    <a href="all-issues.html" class="all-issues-link">
                                        See all issues
                                    </a>
                                </div>
                            </div>

                            <!-- Submenu Item -->
                            <div id="categories" class="mm-submenu-item">

                                <!-- Submenu Title -->
                                <h4 class="submenu-title">Categories</h4>

                                <!-- Submenu List with Images -->
                                <ul class="submenu-image-list">

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item w-16">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/cat-finance-400x300.jpg" alt="Category"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        Finance
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                        </a>
                                    </li>

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item w-16">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/cat-marketing-400x300.jpg" alt="Category"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        Marketing
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                        </a>
                                    </li>

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item w-16">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/cat-legal-400x300.jpg" alt="Category"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        Legal
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                        </a>
                                    </li>

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item w-16">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/cat-tech-400x300.jpg" alt="Category"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        Technology
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                        </a>
                                    </li>

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item w-16">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/cat-health-400x300.jpg" alt="Category"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        Healthcare
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                        </a>
                                    </li>

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item w-16">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/cat-architecture-400x300.jpg" alt="Category"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        Architecture
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                            <!-- Submenu Item -->
                            <div id="media" class="mm-submenu-item">

                                <!-- Submenu Title -->
                                <h4 class="submenu-title">Media</h4>

                                <!-- Submenu List with Images -->
                                <ul class="submenu-image-list">

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item w-16">
                                        <a href="category.html" class="submenu-image-link">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/audio-400x300.jpg" alt="Media"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        Audio Podcasts
                                                        <span class="overlay-explore">
                                                            explore
                                                            <i class="fal fa-arrow-right"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figure>
                                        </a>
                                    </li>

                                    <!-- Submenu List Image Item -->
                                    <li class="submenu-image-item w-16">
                                        <a href="#" class="submenu-image-link more-soon">
                                            <figure class="submenu-figure">
                                                <img src="/assets/images/more_soon.jpg" alt="Media"
                                                     class="submenu-image">

                                                <div class="overlay">
                                                    <div class="overlay-title">
                                                        More Coming Soon
                                                    </div>
                                                </div>
                                            </figure>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="mm-overlay"></div>
            </div>
        </div>

        <!-- Logo -->
        <div class="logo">
            <a href="/">
                <img src="~/assets/logo/journal_logo_white.svg" alt="Journal Logo">
            </a>
        </div>

        @{
            if (ViewBag.page == "article")
            {
                <!-- Article Header Info -->
                <div class="article-header-info">
                    <p class="article-header-info-title">Saab's new spy plane has a powerful piece of hardware on top</p>
                </div>
            }
        }

        <!-- Lang Switcher -->
        <div class="lang-switcher">
            <ul class="langs">
                @foreach (var lang in Languages.LanguagesList)
                {
                    string active = null;
                    if(Culture.Contains(lang.Code))
                    {
                        active = "active";
                    }
                    <li class="lang-item @active">
                        <a class="lang-link" href="@lang.Link">@lang.Code</a>
                    </li>
                }
            </ul>
        </div>

        @{
            if (ViewBag.page != "auth")
            {
                <!-- User -->
                <div class="user-info">
                    <a href="/auth#login" class="btn btn-login"><i class="fal fa-sign-in-alt"></i> @JournalProject.Resource.Login</a>
                </div>
            }
        }

        <!-- Search -->
        <div class="search">
            <button id="search-trigger-header" class="btn btn-search"><i class="far fa-search"></i></button>
            <form id="search-form-header" action="#" method="get">
                <label>
                    <input type="text" class="form-control search-input" name="query" placeholder="Search" />
                </label>
            </form>
        </div>

        @{
            if (ViewBag.page == "article")
            {
                <!-- Article Progress Bar -->
                <div class="article-progress-bar">
                    <!-- Progress Bar Wrapper -->
                    <div class="progress-bar-wrapper">
                        <!-- Progress Bar -->
                        <div class="progress-bar"></div>
                    </div>
                </div>
            }
        }
    </header>

    @RenderBody()

    <!-- Footer -->
    <footer id="footer" class="@ViewBag.footerClass">
        <div class="container-wide">

            <!-- Footer Row -->
            <div class="footer-row mb-50">

                <!-- Footer Logo -->
                <div class="footer-logo">
                    <img src="/assets/logo/journal_logo_black.svg" alt="Logo">
                </div>

                <!-- Subscribe Wrapper -->
                <div class="subscribe-wrapper">
                    <label for="subscribe-to">Subscribe to our latest insights</label>
                    <input type="email" id="subscribe-to" class="form-control" placeholder="E-mail">
                    <button class="btn btn-arrow-right"><i class="fal fa-angle-right"></i></button>
                </div>

            </div>

            <!-- Footer Row -->
            <div class="footer-row mb-20">

                <!-- Footer Menu -->
                <ul class="footer-menu">

                    <!-- Footer Menu Item -->
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Contact us</a>
                    </li>

                    <!-- Footer Menu Item -->
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">FAQ</a>
                    </li>

                    <!-- Footer Menu Item -->
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Privacy policy</a>
                    </li>

                    <!-- Footer Menu Item -->
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Cookie policy</a>
                    </li>

                    <!-- Footer Menu Item -->
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Terms of use</a>
                    </li>

                </ul>

                <!-- Footer Socials -->
                <ul class="footer-socials">

                    <!-- Footer Social Item -->
                    <li class="footer-social-item">
                        <a href="#" class="footer-social-link facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>

                    <!-- Footer Social Item -->
                    <li class="footer-social-item">
                        <a href="#" class="footer-social-link twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>

                    <!-- Footer Social Item -->
                    <li class="footer-social-item">
                        <a href="#" class="footer-social-link instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>

                    <!-- Footer Social Item -->
                    <li class="footer-social-item">
                        <a href="#" class="footer-social-link vkontakte"><i class="fab fa-vk"></i></a>
                    </li>

                    <!-- Footer Social Item -->
                    <li class="footer-social-item">
                        <a href="#" class="footer-social-link linkedin">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>

                    <!-- Footer Social Item -->
                    <li class="footer-social-item">
                        <a href="#" class="footer-social-link youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>

                </ul>

            </div>

            <!-- Copyright -->
            <p class="copyright"><span>&copy;</span> 2019 Journal LLC</p>

        </div>
    </footer>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/particles.min.js"></script>

    @{
        if (ViewBag.loadScrollMagic == true)
        {
            <script src="~/assets/js/TweenMax.min.js"></script>
            <script src="~/assets/js/scrollmagic.js"></script>
            <script src="~/assets/js/animation.gsap.js"></script>
        }
    }

    @{
        if (ViewBag.useValidation == true)
        {
            <script src="~/assets/js/jquery.validate.min.js"></script>
        }
    }

    <script src="https://www.google.com/recaptcha/api.js?render=@Globals.RecaptchaKeys["publicKey"]"></script>

    <script src="~/assets/js/swiper.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

</html>